.checkout {
	width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.body {
	padding: 24px;
  margin-top: 25px;
	margin-bottom: 70px;
	color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-color: #fff;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.title {
	text-align: center;
	font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.header {
	display: flex;
	flex-direction: row;
	padding: 24px 0px 40px;
	align-items: center;
}

.line {
	flex: 1 1 auto;
	border-top-style: solid;
	border-top-width: 1px;
  border-color: #bdbdbd;
}

.subtitle {
	margin-bottom: 0.35em;
	font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.6;
	letter-spacing: 0.0075em;
	user-select: none;
}

.main {
	display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
	width: calc(100% + 24px);
	margin: -12px;
	margin-bottom: 15px;
}

.input {
	padding: 12px;
	flex-grow: 0;
	max-width: 50%;
	flex-basis: 50%;
}

.checkbox {
	margin-top: 10px;
	flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.button {
	display: flex;
	margin-left: 10px;
	font-size: 0.875rem;
	font-weight: 600;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02857em;
	line-height: 1.75;
	padding: 5px 10px;
	align-items: center;
	justify-content: center;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.back {
	background-color: white;
	color: #505050;
	padding: 7px 12px;
}

.back:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.10);
}

.next {
	background-color: #504caf;
	color: white;
	border: 2px solid #504caf;
}

.next:hover {
	background-color: white;
	color: #504caf;
}

.button:hover {
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.list {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}

.item {
	padding: 8px 0px;
	width: 100%;
	display: flex;
	position: relative;
	box-sizing: border-box;
	text-align: left;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
}

.product {
	margin-top: 6px;
	margin-bottom: 6px;
	flex: 1 1 auto;
	min-width: 0;
}

.name {
	display: block;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	margin: 0;
	max-width: 400px;
}

.vendor_code {
	display: block;
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	margin: 0;
}

.price {
	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	margin: 0;
}

.total {
	flex: 1 1 auto;
	min-width: 0;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
}

.summary {
	font-weight: 700;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.75;
	letter-spacing: 0.00938em;
	margin: 0;
}

.details {
	width: calc(100% + 16px);
	margin: -8px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.column {
	padding: 8px;
	flex-grow: 0;
	max-width: 50%;
	flex-basis: 50%;
	margin: 0;
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 30px;
}

.payment {
	display: flex;
	flex-wrap: wrap;
}

.text {
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	margin-bottom: 0.35em;
}

.payment_details {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.block {
	padding-bottom: 0.35em;
	flex-grow: 0;
	max-width: 50%;
	flex-basis: 50%;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
}

.subtitle_v2 {
	font-size: 1.5rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.334;
	letter-spacing: 0em;
	margin-bottom: 0.35em;
}

.appeal {
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0.00938em;
	text-indent: 30px
}

.warning {
	font-size: 1rem;
	text-align: center;
	color: red;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 0.00938em;
	margin-bottom: 0.35em;
}

*, ::after, ::before {
	box-sizing: inherit;
}