.background {
	background-color: white;
	width: 100%;
	height: auto;
	min-height: calc(100vh - 80px);
}

.profile {
	width: auto;
	margin-top: 30px;
	margin-bottom: 70px;
	user-select: none;
}

.title{
	text-align: center;
	font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
	letter-spacing: 0.00735em;
	margin-bottom: 25px;
}

.table {
	min-width: 600px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	font-size: 1.2rem;
}

.table tbody td:first-child {
	font-size: 1.2rem;
}