.soft_list {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	min-width: 80%;
	max-width: 90%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 65vh;
}

.list {
	position: relative;
	display: flex;
	width: auto;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
}

.pagination {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: 5%;
	min-width: 50px;
	cursor: pointer;
}

.wrap:hover {
	background: radial-gradient(200% 50%, #6e6bad, #f7f5ff);
}

.button {
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
	height: 100%;
	width: 100%;
}

.prev_page:hover {
	background-image: url('../../../../../../public/img/prev_active.png');
}

.next_page:hover {
	background-image: url('../../../../../../public/img/next_active.png');
}

.prev_page {
	background-image: url('../../../../../../public/img/prev.png');
}

.next_page {
	background-image: url('../../../../../../public/img/next.png');
}