.dev_list {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;
	background-color: #504caf;
	background: linear-gradient(90deg, white -100%, #504caf 50%, white 200%);
	width: 100%;
	height: 50px;
	box-shadow: inset 0px -2px 5px 0px #00000085;
	font-family: 'Rubik One', sans-serif;
	z-index: 100;
}

.list_item {
	position: relative;
	display: block;
	cursor: pointer;
}

.dev {
	font-size: large;
	color: white;
	margin: 5px;
	width: 150px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.button {
	position: relative;
	display: block;
	cursor: pointer;
	background-size: 25px 25px;
	height: 35px;
	width: 35px;
	background-repeat: no-repeat;
}

.left {
	background-image: url('../../../../../../public/img/left.png');
	margin-right: 15px;
	background-position: left;
}

.right {
	background-image: url('../../../../../../public/img/right.png');
	margin-left: 15px;
	background-position: right;
}

.dev:hover {
	color: #2b2782;
	font-weight: bold;
}

.button:hover {
	border-radius: 50px;
	background-color: #2b2782;
}

.active {
	font-size: x-large;
	text-decoration: underline;
}