.block {
	border: 0;
	margin: 0;
	display: inline-flex;
	padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column;
	vertical-align: top;
	box-sizing: border-box;
	width: 100%;
}

.block_big {
	margin-top: 16px;
	margin-bottom: 8px;
}

.label {
	top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform-origin: top left;
	color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.label_big {
	z-index: 1;
	transform: translate(14px, 20px) scale(1);
	pointer-events: none;
}

.label_big_shrink {
	transform: translate(14px, -6px) scale(0.75);
}

.label_big_focused {
	color: #1976d2;
}

.label_shrink {
	transform: translate(0, 1.5px) scale(0.75);
}

.empty_label {
	color: red;
}

.filled_label {
	color: grey;
}

.label_focused {
	color: #1976d2;
}

.form {
	position: relative;
	display: inline-flex;
	color: rgba(0, 0, 0, 0.87);
  cursor: text;
	margin-top: 16px;
	font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
	letter-spacing: 0.00938em;
	width: 100%;
}

.form_big {
	position: relative;
	border-radius: 4px;
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
	cursor: text;
	display: inline-flex;
	font-size: 1rem;
	box-sizing: border-box;
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.1876em;
	letter-spacing: 0.00938em;
}

.form::before {
	left: 0;
	right: 0;
	bottom: 0;
	content: "\00a0";
	position: absolute;
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	pointer-events: none;
}

.empty_form:before {
	transition: border-bottom-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-color: red;
}

.filled_form:before {
	transition: border-bottom-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-color: grey;
}

.form:hover:before {
	border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.form::after {
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	transform: scaleX(0);
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	border-bottom: 2px solid #1976d2;
	pointer-events: none;
}

.form_focused:after {
	transform: scaleX(1);
}

.input {
	font: inherit;
	color: currentColor;
	width: 100%;
	border: 0;
	height: 1.1876em;
	margin: 0;
	display: block;
	padding: 6px 0 7px;
	min-width: 0;
	background: none;
	box-sizing: content-box;
	animation-name: mui-auto-fill-cancel;
	-webkit-tap-highlight-color: transparent;
}

.input_big {
	padding: 18.5px 14px;
}

.fieldset {
	top: -5px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0 8px;
	overflow: hidden;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-radius: inherit;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0.23);
}

.empty {
	border-color: red;
}

.filled {
	border-color: grey;
}

.form_big:hover .fieldset {
	border-color: rgba(0, 0, 0, 0.87);
}

.form_big.form_big_focused .fieldset{
	border-color: #1976d2;
	border-width: 2px;
}

.legend {
	width: auto;
	height: 11px;
	display: block;
	padding: 0;
	font-size: 0.75em;
	max-width: 0.01px;
	text-align: left;
	transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	visibility: hidden;
}

.legend_active {
	max-width: 1000px;
	transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}

.placeholder {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

input:focus {
	outline: none;
}

.helper {
	color: rgba(0, 0, 0, 0.54);
	margin: 0;
	font-size: 0.75rem;
	margin-top: 3px;
	text-align: left;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}