*, ::after, ::before {
	box-sizing: content-box;
}

.soft {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 340px;
	width: 210px;
	box-shadow: 2px 2px 10px 1px #00000085;
	margin: 15px;
	background-color: white;
	user-select: none;
}

.soft_header {
	font-size: x-large;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.soft_img {
	padding-top: 10px;
	height: 100px;
	width: 100px;
	padding-bottom: 10px;
	font-size: 1rem;
}

.soft_developer {
	color: grey;
	text-decoration: underline;
	font-size: medium;
}

.soft_description {
	height: 115px;
	color: black;
	font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.soft_footer {
	flex-direction: row;
}

.soft_price {
	display: flex;
	color: black;
	font-size: large;
	width: 195px;
	height: 35px;
	align-items: center;
	cursor: pointer;
	margin: 5px 7px;
	padding-left: 2px;
	border: 2px solid white;
}

.active {
	background-color: #504caf;
	color: white;
	border: 2px solid #504caf;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-image: url('../../../../../../public/img/basket.png');
	background-size: 34px 34px;
	background-position: right;
	background-repeat: no-repeat;
}

.soft_price:hover {
	color: #504caf;
	background-color: white;
	background-image: url('../../../../../../public/img/basket_active.png');
}

.price_text {
	margin-right: 5px;
}

.price_value {
	font-weight: 700;
	margin-right: 5px;
}

.row {
	padding-left: 10px;
	padding-right: 10px;
	width: 190px;
}