.page-link {
	color: #504caf;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #504caf;
	border-color: #504caf;
}

.page-link:hover {
	color: white;
	text-decoration: none;
	background-color: #6e6bad;
	border-color: #6e6bad;
}

.page-link:focus {
	box-shadow: none;
}

ul {
	margin-bottom: 0;
}

a {
	color: #3739c5;
}

a:hover {
	color: limegreen;
	text-decoration: none;
}

a:focus {
	outline: 0;
	box-shadow: none;
}

*, ::after, ::before {
	box-sizing: inherit;
}

.table td, .table th {
	padding: 10px 15px;
	vertical-align: middle;
	text-align: center;
}

.table thead th {
	vertical-align: middle;
	border-top: 2px solid #504caf;
	border-bottom: 2px solid #504caf;
}

.table tbody td:first-child {
	text-align: start;
	font-size: 0.9rem;
  font-weight: 500;
}

.table {
	margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}