.software {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	user-select: none;
}

.navigation {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: large;
	margin-top: 25px;
	margin-bottom: 15px;
}

.delimiter {
	background-image: url('../../../../public/img/delimiter.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
	opacity: 0.9;
}

.link {
	padding-left: 5px;
	padding-right: 5px;
	color: grey;
}

.link:hover {
	text-decoration: underline;
}

.content {
	width: 700px;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	background-color: white;
}

.head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.img {
	height: 150px;
	width: 150px;
	padding: 25px;
}

.info {
	width: 100%;
	height: 200px;
}

.title {
	text-align: center;
	font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
	letter-spacing: 0.00735em;
	padding-top: 25px;
  padding-bottom: 25px;
}

.row {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	letter-spacing: 0.00938em;
}

.subtitle {
	color: grey;
}

.sublink:hover {
	text-decoration: underline;
}

.line {
	height: 1px;
	background: linear-gradient(90deg, #f8f9fa 1%, #ccced0 50%, #f8f9fa 99%);
	width: 100%;
}

.description {
	border-top: 4px double #c5c5c5;
	padding: 15px;
	padding-left: 20px;
	text-indent: 30px;
	color: black;
	text-align: start;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	margin-bottom: 0.35em;
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	border-top: 1px dashed #c5c5c5;
	padding-bottom: 10px;
}

.offer_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 30px);
	height: auto;
	padding: 10px 15px;
}

.offer_name {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.0075em;
	user-select: none;
	width: 300px;
}

.offer_code {
	font-size: 0.8rem;
	color:grey;
}

.offer_price {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid limegreen;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.offer_price:hover {
	background-color: limegreen;
	color: white;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100px;
}

.button {
	height: 35px;
	width: 40px;
	background-image: url('../../../../public/img/basket.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	background-color: limegreen;
	border-radius: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.value {
	font-weight: bold;
	padding-right: 5px;
}

.offer_description {
	color: #575d63;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-indent: 30px;
	text-align: start;
	font-size: 0.9rem;
	width: calc(100% - 30px);
}

.plus {
	position: relative;
	background-image: url('../../../../public/img/add.png');
	background-size: 10.5px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: green;
	border-radius: 50px;
	margin-top: 18px;
	margin-left: 22px;
	color: white;
	font-size: small;
	display: block;
	height: 15px;
	width: 15px;
}