.basket{
	margin-top: 25px;
	margin-bottom: 25px;
}

.title {
	text-align: center;
	font-size: 2.125rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.235;
	letter-spacing: 0.00735em;
	padding-bottom: 10px;
	padding-top: 10px;
}

.full {
	background-color: white;
	border: 1px solid #dee2e6;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.table {
	background-color:white;
}

.header {
	background-color: #504caf;
	color: white;
}

.price {
	min-width: 115px;
}

.clear_basket {
	cursor: pointer;
	border: 2px solid #504caf;
	background-color: white;
	color: #504caf;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.clear_basket:hover {
	background-color: #dc3545;
	color: white;
}

.name {
	max-width: 300px;
}

.count {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.count_value {
	display: block;
	width: 26px;
	text-align: center;
	border: 1px solid #dee2e6;
}

.count_button {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	background-size: 11px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #dee2e6;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.count_button:hover {
	background-color: limegreen;
}

.plus {
	background-image: url('../../../../public/img/plus.png');
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.plus:hover {
	background-image: url('../../../../public/img/add.png');
}

.minus {
	background-image: url('../../../../public/img/minus.png');
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.minus:hover {
	background-image: url('../../../../public/img/minus_active.png');
}

.urn {
	background-image: url('../../../../public/img/urn.png');
	width: 150px;
	height: 30px;
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.urn:hover {
	background-image: url('../../../../public/img/urn_active.png');
}

.footer {
	margin-top: 15px;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.button {
	display: flex;
	background-color: #504caf;
	color: white;
	text-align: center;
	border: 2px solid #504caf;
	font-size: large;
	width: 180px;
	height: 35px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover {
	background-color: white;
	color: #504caf;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.total_cost {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-bottom: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	align-items: flex-end;
	padding: 5px;
	padding-right: 10px;
	font-size: large;
	color: #212529;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	letter-spacing: 0.0075em;
	user-select: none;
}

.total {
	font-weight: bold;
}

.body {
	border-bottom: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;

}

.value {
	font-weight: bold;
}

.cost {
	color: #504caf;
	font-size: x-large;
}

.status {
	color: grey;
	font-size: large;
	text-align: center;
}

.warning {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.95rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 0.00938em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
}
