.header {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #504caf;
	top: 0;
	width: 100%;
	text-align: center;
	height: 45px;
	user-select: none;
	z-index: 123;
	font-family: 'Helvetica', sans-serif;
	box-shadow: 0px 1px 5px 2px #00000085;
}

.button {
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 45px;
}

.catalog {
	background-image: url('../../../public/img/home.png');
	background-size: 34px;
}

.catalog:hover {
	background-color: #2b2782;
}

.list {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 170px;
}

.list:hover {
	background-color: #2b2782;
}

.list_bar {
	background-image: url('../../../public/img/categories.png');
	background-size: 30px;
}

.list_title {
	display: flex;
	height: 100%;
	color: white;
	font-size: x-large;
	align-items: center;
}

.profile {
	background-image: url('../../../public/img/profile.png');
	background-size: 30px;
}

.basket {
	background-image: url('../../../public/img/basket.png');
	background-size: 34px;
}

.search {
	width: 30%;
	height: 100%;
	padding-right: 150px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.search_button {
	position: relative;
  display: block;
	background-image: url('../../../public/img/search.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	height: calc(100% - 6px);
	min-width: 39px;
	margin: 3px;
	cursor: pointer;
}

.search_button:hover {
	border-radius: 35%;
	background-color: #2b2782;
}

.search_line {
	background-color: white;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	height: 35px;
	width: 100%;
}

.input {
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 5px;
	border: none;
  -webkit-appearance: none;
	outline: none;
	width: 94%;
	font-size: large;
}

.cancel_search {
	right: 0;
	display: block;
	background-image: url('../../../public/img/cancel_active_v1.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
	height: 35px;
	width: 35px;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 5px;
}

.cancel_search:hover {
	opacity: 1;
	background-color: #ecedee;
}

.button:hover {
	background-color: #2b2782;
}

.size {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	border-radius: 50px;
	top: 25px;
	left: 25px;
	color: white;
	height: 18px;
	width: 18px;
	font-size: 0.75rem;
}

.menu {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 100%;
	transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	visibility: hidden;
	opacity: 0;
	text-decoration: none;
	user-select: none;
	font-size: large;
	z-index: 150;
}

.list:hover .list_active {
	visibility: visible;
	opacity: 0.95;
}

.list_active {
	min-width: 215px;
	background-color: #504caf;
	left: 0px;
}

.profile_active {
	width: auto;
	background-color: #504caf;
	right: -45px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #2b2782;
	height: 33px;
	width: 100%;
	color: white;
	text-decoration: none;
}

.item:hover {
	background-color: white;
	color: #504caf;
	border: 1px solid #2b2782;
	border-bottom: none;
}

.item:last-child:hover {
	border: 1px solid #2b2782;
}

.list_item {
	justify-content: flex-start;
	padding-left: 11px;
	padding-right: 1px;
	width: calc(100% - 12px);
}

.list_item:last-child {
	border-bottom: 1px solid #504caf;
}

.list_item:hover {
	padding: 0px;
	padding-left: 10px;
}

.profile_item {
	border-left: 1px solid #2b2782;
	border-right: 1px solid #2b2782;
	padding-right: 15px;
	padding-left: 15px;
	height: 44px;
	min-width: 100px;
	width: calc(100% - 32px);
}

.profile_item:last-child {
	border-bottom: 1px solid #2b2782;
}

.alert {
	border: 1px solid #2b2782;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	height: 41px;
	font-size: 1.1rem;
}

.basket_active {
	background-color: rgba(255, 255, 255, 1);
	color: #2b2782;
	min-width: 120px;
	right: 0;
	cursor: default;
}

.catalog_active {
	background-color: #504caf;
	color: white;
	min-width: 160px;
	left: 0;
	cursor: pointer;
}

.catalog_active:hover {
	background-color: white;
	color: #504caf;
}

.button:hover .active {
	visibility: visible;
	opacity: 1;
}