.app {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	min-height: 100vh;
	min-width: 100vh;
	width: 100%;
	overflow: auto;
	background-color: #f7f5ff;
}