.stage {
	display: flex;
	align-items: center;
	user-select: none;
	padding-left: 8px;
	padding-right: 8px;
	color: rgba(0, 0, 0, 0.54);
}

.icon {
	display: flex;
  flex-shrink: 0;
	padding-right: 8px;
	fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
	user-select: none;
	color: rgba(0, 0, 0, 0.38);
}

.icon_text {
	fill: #fff;
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.active_icon {
	color: #504caf;
}

.stage_name {
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.active_stage {
	color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}