.footer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Rubik One', sans-serif;
	background-color: #504caf;
	box-shadow: 0px 0px 10px 5px #00000085;
	min-height: 35px;
	width: 100%;
	color: white;
	font-size: large;
	user-select: none;
	bottom: 0vh;
	z-index: 123;
}