.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
}

.cancel {
	position: absolute;
	background-image: url('../../../../public/img/cancel_active_v2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 30px;
	width: 30px;
	top: -40px;
	right: -40px;
	cursor: pointer;
	opacity: 0.7;
}

.cancel:hover {
	opacity: 0.3;
}

.modal_window {
	position: fixed;
	height: 210px;
	width: 500px;
	top: 0;
  right: 0;
  bottom: 0;
	left: 0;
  margin: auto;
	border-radius: 12px;
	box-shadow: 1px 1px 5px 5px #00000085;
	z-index: 322;
	user-select: none;
	background-color: white;
}

.header{
	background-color: rgb(80, 76, 175);
	display: flex;
  justify-content: center;
  align-items: center;
	color: white;
	font-size: 1.4rem;
	top: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
	width: auto;
}

.product {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 90px;
	width: 100%;
}

.img {
	height: 70px;
	width: 70px;
	padding: 10px;
}

.name {
	width: 100%;
	margin-left: 10px;
	font-size: large;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 1.2;
}

.description {
	display: flex;
  align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 25px;
}

.vendor_code {
	color: grey;
	font-size: 0.9rem;
}

.price_value {
	font-size: 1.1rem;
}

.value {
	font-weight: bold;
	margin-right: 5px;
}

.delete {
	background-image: url('../../../../public/img/urn.png');
	width: 100px;
	height: 40px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.delete:hover {
	background-image: url('../../../../public/img/urn_active.png');
}

.footer {
	margin: 10px;
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	display: flex;
	background-color: #504caf;
	color: white;
	text-align: center;
	border: 2px solid #504caf;
	font-size: medium;
	padding: 5px 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover {
	background-color: white;
	color: #504caf;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}