.label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	user-select: none;
}

.label_big {
	margin-left: -10px;
}

.label:hover {
	color: limegreen;
}

.string {
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.string_small {
	font-size: 0.85rem;
}

.checkbox {
	cursor: pointer;
	margin: 10px;
}

.checkbox_small {
	margin: 3px;
	margin-right: 5px;
}

.border {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	background-color: #757575;
	border-radius: 3px;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.label:hover .border {
	background-color: limegreen;
}

.border_small {
	height: 16px;
	width: 16px;
}

.border_checked {
	border-radius: 3px;
	background-color: #504caf;
}

.label:hover .border_checked {
	background-color: #504caf;
}

.mark {
	background-image: url('../../../../public/img/check_mark.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	background-color: white;
	height: 16px;
	width: 16px;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mark_small {
	background-size: 12px;
	height: 12px;
	width: 12px;
}

.mark_checked {
	background-color: #504caf;
}