.search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 25px;
	margin-bottom: 60px;
	width: auto;
	height: auto;
	user-select: none;
}

.column {
	margin-left: 15px;
	margin-right: 15px;
}

.filters {
	width: 240px;
}

.filters_head {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	margin-bottom: 20px;
}

.filters_title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.235;
	letter-spacing: 0.00735em;
	color: #333;
	font-size: 1.11rem;
	width: 100%;
}

.filters_icon {
	display: block;
	background-image: url('../../../../public/img/filter_2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	opacity: 0.5;
}

.filters_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	border: 1px solid #dee2e6;
	border-radius: 5px;
}

.filter {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
}

.filter:first-child {
	margin-top: 10px;
}

.filter_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	width: calc(100% - 30px);
	cursor: pointer;
}

.filter_name {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 0.95rem;
	font-weight: 600;
	line-height: 1.235;
	letter-spacing: 0.00735em;
}

.dropdown {
	background-image: url('../../../../public/img/dropdown.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	height: 25px;
	width: 25px;
	opacity: 0.5;
	transition: transform 300ms ease-in-out;
	-webkit-transition: -webkit-transform 300ms ease-in-out;
}

.filter_head:hover .dropdown{
	opacity: 0.8;
}

.dropdown_hidden {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.transform {
	transition: all 300ms ease-in-out;
	opacity: 1;
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
}

.filter_items {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 200px;
	width: calc(100% - 10px);
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

.checkbox {
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	max-height: 35px;
	margin-bottom: 10px;
}

.hidden_items {
	overflow: hidden;
	opacity: 0;
	margin-bottom: 0;
	max-height: 0;
	height: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0; 
}

.form {
	position: relative;
	max-width: 50%;
	flex-basis: 50%;
	width: 100%;
}

.form:first-child {
	padding-left: 10px;
	padding-right: 5px;
}

.form:last-child {
	padding-right: 10px;
	padding-left: 5px;
}

.label {
	position: absolute;
	font-size: 0.9rem;
	z-index: 1;
	top: 5px;
	left: 0;
	cursor: text;
	margin-bottom: 0;
}

.from {
	padding-left: 15px;
}

.to {
	padding-left: 10px;
}

.input {
	border: 1px solid #c5c5c5;
	box-sizing: border-box;
	width: 100%;
	padding-left: 24px;
	padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
	outline: none;
	transition: border 150ms ease-in-out,color 150ms ease-in-out;
}

.input:hover {
	border-color: #dee2e6;
}

.input:focus {
	border-color: limegreen;
}

.filters_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
}

.filters_button {
	font-size: 0.875rem;
	font-weight: 600;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02857em;
	line-height: 1.75;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #504caf;
	color: white;
	border: 2px solid #504caf;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filters_button:hover {
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	background-color: white;
	color: #504caf;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
	background-color: white;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	width: 450px;
}

.list_head {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	border-bottom: 4px double #c5c5c5;
	width: calc(100% - 30px);
}

.list_empty {
	border: 0;
}

.list_title {
	width: 100%;
}

.title {
	font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.6;
	letter-spacing: 0.0075em;
	color: #333;
}

.count {
	color: grey;
}

.list_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.volume_buttons {
	padding-right: 15px;
}

.buttons_name {
	font-size: 0.85rem;
	font-weight: 600;
	color: #333;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5px
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
	height: 27px;
	color: grey;
	font-size: 0.9rem;
	border: 1px solid #dee2e6;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover {
	background-color: #8f73ff;
	color: white;
	border-color: #8f73ff;
}

.left_button {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
}

.show {
	background-image: url('../../../../public/img/show.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	width: 20px;
	opacity: 0.5;
}

.button:hover .show {
	background-image: url('../../../../public/img/show_active.png');
	opacity: 1;
}

.visible {
	background-image: url('../../../../public/img/show_active.png');
	opacity: 1;
}

.right_button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}

.hide {
	background-image: url('../../../../public/img/hide.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	width: 20px;
	opacity: 0.5;
}

.button:hover .hide {
	background-image: url('../../../../public/img/hide_active.png');
	opacity: 1;
}

.hidden {
	background-image: url('../../../../public/img/hide_active.png');
	opacity: 1;
}

.button_active {
	background-color: #504caf;
	border-color: #504caf;
	color: white;
}

.list_body {
	width: 100%;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 4px double #c5c5c5;
	padding: 0 10px;
	width: calc(100% - 20px);
}

.product:last-child {
	border: 0;
}

.product_head {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.product_img {
	height: 60px;
	width: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.product_title {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 10px;
	width: 100%;
}

.product_name {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.0075em;
	color: #45429a;
	font-size: 1.15rem;
}

.product_info {
	color: grey;
	font-size: 0.85rem;
	cursor: pointer;
}

.product_info:hover {
	color: limegreen;
}

.product_developer:hover {
	text-decoration: underline;
}

.product_button {
	height: 35px;
	width: 35px;
	margin: 20px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #dee2e6;
	cursor: pointer;
}

.product_button:hover {
	background-color: darkgrey;
}

.visibility {
	height: 35px;
	width: 35px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	opacity: 0.5;
}

.product_button:hover .visibility{
	opacity: 1;
}

.hide_offers {
	background-image: url('../../../../public/img/hide.png');
}

.product_button:hover .hide_offers{
	background-image: url('../../../../public/img/hide_active.png');
}

.show_offers {
	background-image: url('../../../../public/img/show.png');
}

.product_button:hover .show_offers{
	background-image: url('../../../../public/img/show_active.png');
}

.offers_list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.offer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border-top: 1px dashed #c5c5c5;
	padding-top: 5px;
	width: 100%;
}

.product:last-child .offer:last-child {
	border-bottom: 1px dashed #c5c5c5;
	margin-bottom: 10px;
}

.offer_title {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: 0.0075em;
	max-width: 300px;
	color: #333;
	margin-top: 5px;
}

.offer_title:hover {
	text-decoration: underline;
}

.offer_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.offer_code {
	font-size: 0.85rem;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: 1px;
	color:grey;
}

.offer_price {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
  align-items: center;
	border: 1px solid limegreen;
	border-radius: 7px;
	cursor: pointer;
	margin-bottom: 7px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	margin-left: 25px;
}

.offer_price:hover {
	background-color: limegreen;
	color: white;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
}

.value {
	font-weight: bold;
	padding-right: 4px;
}

.offer_button {
	height: 25px;
	width: 30px;
	background-image: url('../../../../public/img/basket.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	background-color: limegreen;
	border-radius: 4px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.plus {
	position: relative;
	background-image: url('../../../../public/img/add.png');
	background-size: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: green;
	border-radius: 50px;
	margin-top: 13px;
	margin-left: 17px;
	height: 12px;
	width: 12px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	width: 100%;
}

.border {
	padding-top: 10px;
	border-top: 4px double #c5c5c5;
}

*, ::after, ::before {
	box-sizing: inherit;
}