.background {
	background-color: white;
	width: 100%;
	height: auto;
	min-height: calc(100vh - 80px);
}

.registration {
	width: 400px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 70px;
	user-select: none;
}

.title{
	text-align: center;
	font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
	letter-spacing: 0.00735em;
	margin-bottom: 0px;
}

.body {
	width: 100%;
	margin-top: 20px;
}

.input_list {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: calc(100% + 16px);
  margin: -8px;
}

.input_wrap {
	padding: 8px;
	flex-grow: 0;
	box-sizing: inherit;
}

.half {
	max-width: 50%;
	flex-basis: 50%;
}

.full {
	max-width: 100%;
	flex-basis: 100%;
}

.submit {
	margin: 24px 0px 10px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #504caf;
	border: 2px solid #504caf;
	color: white;
	padding: 5px 10px;
	font-size: 0.875rem;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	border-radius: 4px;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.submit:hover {
	border: 2px solid #504caf;
	color: #504caf;
	background: white;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.status{
	font-size: 1rem;
	text-align: center;
	color: red;
	margin-top: 7px;
	margin-bottom: -12px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 0.00938em;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.success{
	color: limegreen;
}