.background {
	background-color: white;
	width: 100%;
	height: calc(100vh - 80px);
}

.authorization {
	width: 400px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 50px;
	user-select: none;
}

.title{
	text-align: center;
	font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.body {
	width: 100%;
  margin-top: 8px;
}

.checkbox {
	position: relative;
	font-size: large;
	left: 5%;
	margin-top: 10px;
}

.submit {
	margin: 20px 0px 10px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #504caf;
	border: 2px solid #504caf;
	color: white;
	padding: 5px 10px;
	font-size: 0.875rem;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	border-radius: 4px;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.submit:hover {
	border: 2px solid #504caf;
	color: #504caf;
	background: white;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.link {
	margin-left: auto;
}

.status{
	font-size: 1rem;
	text-align: center;
	color: red;
	margin-top: 7px;
	margin-bottom: -8px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 0.00938em;
}

.success{
	color: limegreen;
}